/* General */
body{
        background-color: #837357;
}
/* Navbar */
.nav-link{
        text-decoration: none !important;
        
}
.nav-link:hover{
        text-decoration: underline !important;
}
